body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

p, span, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
}

/*Use to write text outside of a span or p tag.
  Don't use the <li> tag.*/

.container {
  z-index: 99;
}

.row {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
}

.modal-content {
    background-color: #30425D;
    color: white;
    line-height: 26px;
}

.modal-content select, .modal-content select:focus, .modal-content textarea, .modal-content textarea:focus {
    background-color: #30425D;
    color: white;
    font-size: 14px;
}

.dropdown-menu {
    top: 50% !important;
    right: auto !important;
    text-align: left !important;
    transform: translate(0, -50%) !important;
}

.toastWindow {
    min-width: 350px;
}

.cursor-pointer{
    cursor: pointer;
}

.table {
    color: white;
}

/*Fix blue button color*/
.ct .bg-info {
    background-color: #30425d !important;
}
.ct .bg-info:hover,.ct .bg-info:focus,.ct .bg-info:active,
.ct .bg-info:active:focus  {
    background-color: #26334f !important;
}

.input-group-text {
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    border: none;
}

#p5 .input-group-text {
    min-width: 100px;
}

html, body, section, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: #000;
    /*background-image: url(../img/bg.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

section {
    width: 400%;
}

.page {
    position: absolute;

}

.google-button {
    content: url(../img/btn_google_signin_dark_normal_web.png);
    margin:0 auto;
}

.google-button:hover {
    content: url(../img/btn_google_signin_dark_focus_web.png);
}

.google-button:active {
    content: url(../img/btn_google_signin_dark_pressed_web.png);
}

.google-button-disabled  {
    content: url(../img/btn_google_signin_dark_disabled_web.png);
    margin:0 auto;
}


.bgimage {
  position: absolute;
  top: 32px;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/bg.png);
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  transform: scale(1.1);
}

#t1 .bgimage {
  background-image: url(../img/bg.png);
}



#t2 .bgimage{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#t3 .bgimage{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#t4 .bgimage{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#t5 .bgimage{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#p3 .right-info {
  position: relative;
  top: -20px;
}

#p5 .right-info {
  position: relative;
  top: -13px;
}

ul#navb {
    position: fixed;
    z-index: 1;
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
}

/*#t1 .page#p1 {*/
/*    transform: translateX(0);*/
/*}*/
/*#t2 .page#p2 {*/
/*    transform: translateX(-90%);*/
/*}*/
/*#t3 .page#p3 {*/
/*    transform: translateX(-90%);*/
/*}*/
/*#t4:target .page#p4 {*/
/*    transform: translateX(-290%);*/
/*}*/

#t1 .icon {
    color: #1c2541;
}

.page#p1 {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#t2 .page#p1 .icon,
#t3 .page#p1 .icon,
#t4 .page#p1 .icon,
#t5 .page#p1 .icon {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.icon {
    color: #fff;
    font-size: 32px;
    display: block;
}

ul#navb .icon:hover {
    opacity: 0.5;
}

#p1 .icon .title {
    margin-bottom: 20px;
}

ul#navb {
    /*padding-top: 20%;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /*right: 0;*/
    margin: auto;
    height: auto;
    width: 10%;
    max-width: 130px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
    background-color: rgba(48, 51, 60, 0);
}

.fa-discord{
  font-size: 40px;
}

.navb li {
    margin: 30px 0;
    color: #1c2541;
}


a {
    text-decoration: none !important;
    color: #1c2541;
    font-weight: 500;
}

.title, .hint {
    display: block;
}

.page .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 10%;
    width: 85%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font-size: 60px;
    line-height: 1.3;
}

.page {
    overflow-y: auto;
}

.page#p1 .icon {
    margin-left: 10%;
    height: 400px;
}

.page#p2 .icon {
    height: 600px;
}

.page#p3 .icon {
    height: 600px;
}

.page#p4 .icon {
    height: 600px;
}

.page#p5 .icon {
    height: 600px;
}

.credit {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding-left: 15%;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    display: table;
    color: #1c2541;
    z-index: 1;
}

.primary-button button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 15px 25px;
    background-color: #1c2541;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 25px;
    border: 1px solid transparent;
    text-decoration: none;
}

.primary-button button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.primary-button a {
    color: white;
}

.primary-button a:hover {
  color: white;
}

.btn-primary{
    font-family: 'Montserrat', sans-serif;
    background-color: #1c2541;
    background-image: none;
    border: 1px solid black;
}

.btn-primary:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.btn-secondary{
    font-family: 'Montserrat', sans-serif;
    background-color: #1c2541;
    background-image: none;
    border: 1px solid white;
}

.btn-secondary:hover {
    background-color: transparent;
    border: 1px solid white;
}

#p1 .primary-button {
    display: block;
    top: 75%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#p1 .primary-button:hover{
  color: black;
  border-color: black;
}

#p1 span {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

#p1 h4 {
    letter-spacing: 1px;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

#p1 p {
    margin: 20px 30% 20px 30%;
}


.page .left-text {
    text-align: left;
}

.page .primary-button {
    margin-bottom: 30px;
}

.page .right-image {
    padding-bottom: 40px;
}

.page .right-image img {
    max-width: 100%;
    overflow: hidden;
}

.page .title {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 60px;
}

.page h4 {
    letter-spacing: 1px;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}


.page fieldset {
    margin-top: -30px;
    margin-bottom: 15px;
}

.page input {
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
    max-width: 100%;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
}

.page input:focus {
    outline: none !important;
    box-shadow: none;
}

.page textarea {
    font-family: 'Montserrat', sans-serif;
    margin-top: 35px;
    margin-bottom: 20px;
    padding-left: 15px;
    width: 100%;
    max-width: 100%;
    max-height: 180px;
    height: 140px;
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none !important;
    border-radius: 0;
    box-shadow: none;
}

.page textarea:focus {
    outline: none !important;
    box-shadow: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #999 !important;
}

.page button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 15px 25px;
    background-color: #1c2541;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    left: 0.5px;
    border-radius: 25px;
    border: 1px solid transparent;
}

.page button:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.page .right-info {
    background-color: #fff;
    padding: 30px;
    color: #343434;
    text-align: left;
    margin-bottom: 60px;
}

.page .right-info p em {
    font-style: normal;
    font-weight: 500;
}

.page .right-info h4 {
    font-size: 24px;
}


.page .right-info .social-icons {
    margin-top: 45px;
}

.page .right-info ol {
    padding: 0;
    margin: 0;
}

.page .right-info i {
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
    width: 34px;
    height: 34px;
    background-color: #cdcdcd;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
}

.page .right-info i:hover {
    background-color: #63adcc;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.logo {
  max-width:50%;
  max-height:50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navicons {
  position: relative;
  top: 50%;
  left: 50%;
  width: 10%;
  max-width: 130px;
  transform: translate(-50%, -50%);
  display: table;
}

.accordion{

}

.card{
  background-color: rgba(0,0,0,0);
  border: none;
  margin-bottom: 3px;
}

.card-header {
  background-color: rgba(0,0,0,0.2);
  text-align: left;
}

.card-body{
  background-color: rgba(0,0,0,0.1);
  text-align: left;
}

.card-link {
  color: white;
  font-weight: 500;
}

.card-link:hover{
  opacity: 0.5;
  color: black;
}

#discordlink{
  font-weight: bold;
  color: #ffffff;
}

/*/ ========================================================================
 * Bootstrap Toggle: bootstrap-toggle.css v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */
.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}

#p2 .title{
  margin-top: 10px;
}

.toggle{
  position: relative;
  overflow: hidden;
  left: 0;
}

.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}



@media (max-width: 600px) {

    ul {
        padding-top: 50% !important;
    }

    .toastWindow {
        min-width: 250px;
        max-width: 90% !important;
    }

}


@media (max-width: 850px) {

    ul {
        padding-top: 10%;
    }

    ul#navb {
      width: 15%;
      top: 0;
      background-color: rgba(0,0,0,0);
    }

    #t1 ul#navb {
        display: none;
    }


    #uno{
      display: none;
    }

    .icon {
        color: white;
    }

    .navicons {
      top: 15%;
    }

    .page .icon {
      width: 85%;
      left: -15%;
    }

    .page#p1 .icon {
        height: auto;
        padding: 80px 0px 0px 4%;
    }

    .logo{
      top: 50%;
    }

    #t1 .icon {
        color: #1c2541;
    }

    .bgimage {
      background-image: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/bgmob.jpg);
      top:0;
    }

    #t1 .bgimage {

      background-image: url(../img/bgmob.jpg);
    }

    #p1 {

    }

    #p1 .primary-button {
        margin-bottom: 100px;
        top: 75%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
    }

    #p1 h4 {
        letter-spacing: 1px;
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
    }

    #p1 p {
        margin: 20px;
    }

    .page#p2 .icon {
        height: auto;
        padding: 80px 0px;
    }

    #p2 {
      left: 15%;
    }

    #p2 .left-text {
        text-align: center;
        margin-bottom: 45px;
    }

    #p2 .right-image {
        margin-bottom: 40px;
    }

    #p3 {
      left: 15%;
    }

    .page#p3 .icon {
        height: auto;
        padding: 80px 0px;
    }

    #p3 .last-project {
        margin-bottom: 40px;
    }

    #p4 {
      left: 15%;
    }

    .page#p4 .icon {
        height: auto;
        padding: 80px 0px;
    }

    #p4 .right-info {
        margin-bottom: 60px;
    }

    #p4 .right-info i {
        margin-right: 0px;
    }

    #p4 .right-info {
        padding: 20px;
    }

    #p5 {
      left: 15%;
    }

    html, body, section, .page {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
        -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
        color: #fff;
    }

    .credit {
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        margin-bottom: 0px;
        padding: 8px 0px;
        margin-left: 0;
        text-align: center;
        color: #ffffff;
    }

}
