$color-primary: #4FC3F7;
$color-secondary: #30425d;
$color-tertiary: #28a745 ;
$color-loading:rgba(240,240,240,0.9);
$color-seat-reserved: #6c757d;
$color-seat-number: #000000;
$color-row-number: #9E9E9E;
$color-row-selection: rgba(0, 0, 0, 0);
